<!
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Ninjas</title>
</head>
<body>
    <h1>Lista de Ninjas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>E-mail</th>
                <th>Rank</th>
                <th>Missao</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "ninja: ${ninjas}">
                <td th:text="${ninja.id}"></td>
                <td th:text="${ninja.nome}"></td>
                <td th:text="${ninja.idade}"></td>
                <td th:text="${ninja.email}"></td>
                <td th:text="${ninja.rank}"></td>
                <td th:text="${ninja.missao}"></td>

                <td>
                    <a href="">Ver Detalhes</a>
                    <a href="">Alterar</a>
                    <a href="">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>